.header {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.select-fields {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-fields > div {
  min-width: 165px;
}

.total-limit-input {
  margin: 0 0 0 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline-color: #2684ff;
  font-size: 16px;
  padding: 2px 4px;
}

.screener-grid {
  width: 80%;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.item-header {
  display: block;
  text-align: center;
  font-weight: 700;
  border: 1px solid #000;
}

.item-header {
  border-right: none;
}

.item-total {
  text-align: center;
}

.odd {
  background-color: #f2f2f2;
}

.positive-odd {
  background-color: #7be495;
}

.positive- {
  background-color: #c4ffc4;
}

.negative-odd {
  background-color: #ca3433;
}

.negative- {
  background-color: #fa8072;
}

.btn-search {
  margin: 0 0 0 10px;
  border-color: #00bfff;
  background-color: #00bfff;
  color: #f2f2f2;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .select-fields {
    width: 100%;
    flex-direction: column;
    margin: 25px 0 0 0;
  }

  .total-limit-input {
    margin: 20px 0 0 0;
    min-height: 38px;
    box-sizing: border-box;
  }

  .btn-search {
    margin: 20px 0 0 0;
  }

  .screener-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .bid-price {
    margin-left: 5px;
  }
}
